/*
!.gitignore
!gitinclude-modified-vmats-only.py
!/ar_dizzy
/ar_dizzy/*
!/ar_dizzy/dizzy_drywall_back_color.vmat
!/brick
/brick/*
!/brick/hr_brick
/brick/hr_brick/*
!/brick/hr_brick/inferno
/brick/hr_brick/inferno/*
!/brick/hr_brick/inferno/brick_a.vmat
!/brick/hr_brick/inferno/brick_d.vmat
!/brick/hr_brick/inferno/brick_d1.vmat
!/brick/hr_brick/inferno/brick_d_blend.vmat
!/brick/hr_brick/inferno/brick_f.vmat
!/brick/hr_brick/inferno/brick_f1.vmat
!/brick/hr_brick/inferno/brick_g1.vmat
!/brick/hr_brick/inferno/brick_g1_blend.vmat
!/brick/hr_brick/inferno/brick_i_blend2.vmat
!/brick/hr_brick/inferno/flagstone_d_blend.vmat
!/cobblestone
/cobblestone/*
!/cobblestone/hr_c
/cobblestone/hr_c/*
!/cobblestone/hr_c/inferno
/cobblestone/hr_c/inferno/*
!/cobblestone/hr_c/inferno/cobblestone_a_blend3.vmat
!/cobblestone/hr_c/inferno/cobblestone_b_blend.vmat
!/decals
/decals/*
!/decals/inferno_drain_decal.vmat
!/de_aztec
/de_aztec/*
!/de_aztec/hr_aztec
/de_aztec/hr_aztec/*
!/de_aztec/hr_aztec/hr_aztec_blend_groundgrass02-groundrock01.vmat
!/de_aztec/hr_aztec/hr_aztec_light_candle_core.vmat
!/glass
/glass/*
!/glass/glass01.vmat
!/glass/glass01_inferno.vmat
!/kristi
/kristi/*
!/kristi/hl2_water2.vmat
!/kristi/shatervan.vmat
!/liquids
/liquids/*
!/liquids/inferno_fountain.vmat
!/metal
/metal/*
!/metal/hr_metal
/metal/hr_metal/*
!/metal/hr_metal/hr_metal_shutters_01.vmat
!/metal/hr_metal/inferno
/metal/hr_metal/inferno/*
!/metal/hr_metal/inferno/metal_ground_trim_a.vmat
!/models
/models/*
!/models/player
/models/player/*
!/models/player/ct_sas
/models/player/ct_sas/*
!/models/player/ct_sas/ctm_sas_lenses.vmat
!/models/player/custom_player
/models/player/custom_player/*
!/models/player/custom_player/econ
/models/player/custom_player/econ/*
!/models/player/custom_player/econ/body
/models/player/custom_player/econ/body/*
!/models/player/custom_player/econ/body/ctm_sas
/models/player/custom_player/econ/body/ctm_sas/*
!/models/player/custom_player/econ/body/ctm_sas/ctm_sas_body.vmat
!/models/player/custom_player/econ/body/ctm_sas/ctm_sas_bodylegs.vmat
!/models/player/custom_player/econ/head
/models/player/custom_player/econ/head/*
!/models/player/custom_player/econ/head/ctm_sas
/models/player/custom_player/econ/head/ctm_sas/*
!/models/player/custom_player/econ/head/ctm_sas/ctm_sas_head_gasmask.vmat
!/models/props
/models/props/*
!/models/props/de_aztec
/models/props/de_aztec/*
!/models/props/de_aztec/hr_aztec
/models/props/de_aztec/hr_aztec/*
!/models/props/de_aztec/hr_aztec/aztec_lighting
/models/props/de_aztec/hr_aztec/aztec_lighting/*
!/models/props/de_aztec/hr_aztec/aztec_lighting/aztec_lighting_candle_flame_01.vmat
!/models/props/de_inferno
/models/props/de_inferno/*
!/models/props/de_inferno/monument_new_color.vmat
!/models/props/de_inferno/tileroof01.vmat
!/models/props/de_inferno/hr_i
/models/props/de_inferno/hr_i/*
!/models/props/de_inferno/hr_i/anchor_plate
/models/props/de_inferno/hr_i/anchor_plate/*
!/models/props/de_inferno/hr_i/anchor_plate/anchor_plate.vmat
!/models/props/de_inferno/hr_i/anchor_plate/anchor_plate_b.vmat
!/models/props/de_inferno/hr_i/arch_b
/models/props/de_inferno/hr_i/arch_b/*
!/models/props/de_inferno/hr_i/arch_b/arch_b
/models/props/de_inferno/hr_i/arch_b/arch_b/*
!/models/props/de_inferno/hr_i/arch_b/arch_b/brick_d1.vmat
!/models/props/de_inferno/hr_i/arch_c
/models/props/de_inferno/hr_i/arch_c/*
!/models/props/de_inferno/hr_i/arch_c/brick_d1.vmat
!/models/props/de_inferno/hr_i/barrel_a
/models/props/de_inferno/hr_i/barrel_a/*
!/models/props/de_inferno/hr_i/barrel_a/barrel_a.vmat
!/models/props/de_inferno/hr_i/barrel_a/barrel_metal_a.vmat
!/models/props/de_inferno/hr_i/barrel_b
/models/props/de_inferno/hr_i/barrel_b/*
!/models/props/de_inferno/hr_i/barrel_b/barrel_b.vmat
!/models/props/de_inferno/hr_i/bench
/models/props/de_inferno/hr_i/bench/*
!/models/props/de_inferno/hr_i/bench/bench.vmat
!/models/props/de_inferno/hr_i/car_a
/models/props/de_inferno/hr_i/car_a/*
!/models/props/de_inferno/hr_i/car_a/car_a.vmat
!/models/props/de_inferno/hr_i/car_a/car_a_details.vmat
!/models/props/de_inferno/hr_i/car_a/glass.vmat
!/models/props/de_inferno/hr_i/chimney
/models/props/de_inferno/hr_i/chimney/*
!/models/props/de_inferno/hr_i/chimney/plaster_h.vmat
!/models/props/de_inferno/hr_i/chimney/roofing_tile_a.vmat
!/models/props/de_inferno/hr_i/concrete_bags
/models/props/de_inferno/hr_i/concrete_bags/*
!/models/props/de_inferno/hr_i/concrete_bags/concrete_bags.vmat
!/models/props/de_inferno/hr_i/concrete_bags/concrete_stack_a
/models/props/de_inferno/hr_i/concrete_bags/concrete_stack_a/*
!/models/props/de_inferno/hr_i/concrete_bags/concrete_stack_a/concrete_bags.vmat
!/models/props/de_inferno/hr_i/curb_set_b
/models/props/de_inferno/hr_i/curb_set_b/*
!/models/props/de_inferno/hr_i/curb_set_b/concrete_b.vmat
!/models/props/de_inferno/hr_i/cypress_a
/models/props/de_inferno/hr_i/cypress_a/*
!/models/props/de_inferno/hr_i/cypress_a/cypress_a.vmat
!/models/props/de_inferno/hr_i/destruction_a
/models/props/de_inferno/hr_i/destruction_a/*
!/models/props/de_inferno/hr_i/destruction_a/brick_g.vmat
!/models/props/de_inferno/hr_i/door_collection
/models/props/de_inferno/hr_i/door_collection/*
!/models/props/de_inferno/hr_i/door_collection/door_a
/models/props/de_inferno/hr_i/door_collection/door_a/*
!/models/props/de_inferno/hr_i/door_collection/door_a/metal_a.vmat
!/models/props/de_inferno/hr_i/door_collection/door_b
/models/props/de_inferno/hr_i/door_collection/door_b/*
!/models/props/de_inferno/hr_i/door_collection/door_b/metal_a.vmat
!/models/props/de_inferno/hr_i/door_collection/door_c
/models/props/de_inferno/hr_i/door_collection/door_c/*
!/models/props/de_inferno/hr_i/door_collection/door_c/metal_a.vmat
!/models/props/de_inferno/hr_i/door_collection/door_collection_trim_a
/models/props/de_inferno/hr_i/door_collection/door_collection_trim_a/*
!/models/props/de_inferno/hr_i/door_collection/door_collection_trim_a/door_trim_a.vmat
!/models/props/de_inferno/hr_i/door_collection/door_collection_trim_b
/models/props/de_inferno/hr_i/door_collection/door_collection_trim_b/*
!/models/props/de_inferno/hr_i/door_collection/door_collection_trim_b/door_trim_b.vmat
!/models/props/de_inferno/hr_i/door_collection/door_d
/models/props/de_inferno/hr_i/door_collection/door_d/*
!/models/props/de_inferno/hr_i/door_collection/door_d/metal_a.vmat
!/models/props/de_inferno/hr_i/electric_box_a
/models/props/de_inferno/hr_i/electric_box_a/*
!/models/props/de_inferno/hr_i/electric_box_a/electric_box_a.vmat
!/models/props/de_inferno/hr_i/electric_wires
/models/props/de_inferno/hr_i/electric_wires/*
!/models/props/de_inferno/hr_i/electric_wires/electric_box_a.vmat
!/models/props/de_inferno/hr_i/flower_sets
/models/props/de_inferno/hr_i/flower_sets/*
!/models/props/de_inferno/hr_i/flower_sets/flower_sets_a.vmat
!/models/props/de_inferno/hr_i/flower_sets/flower_sets_a_leafs.vmat
!/models/props/de_inferno/hr_i/fountain_a_basin
/models/props/de_inferno/hr_i/fountain_a_basin/*
!/models/props/de_inferno/hr_i/fountain_a_basin/brick_d1.vmat
!/models/props/de_inferno/hr_i/ground_tile_a
/models/props/de_inferno/hr_i/ground_tile_a/*
!/models/props/de_inferno/hr_i/ground_tile_a/herringbone_b.vmat
!/models/props/de_inferno/hr_i/gutters
/models/props/de_inferno/hr_i/gutters/*
!/models/props/de_inferno/hr_i/gutters/gutters.vmat
!/models/props/de_inferno/hr_i/gutters/gutters_b.vmat
!/models/props/de_inferno/hr_i/inferno_apc
/models/props/de_inferno/hr_i/inferno_apc/*
!/models/props/de_inferno/hr_i/inferno_apc/inferno_apc_color.vmat
!/models/props/de_inferno/hr_i/inferno_balcony
/models/props/de_inferno/hr_i/inferno_balcony/*
!/models/props/de_inferno/hr_i/inferno_balcony/inferno_balcony_color.vmat
!/models/props/de_inferno/hr_i/inferno_bike
/models/props/de_inferno/hr_i/inferno_bike/*
!/models/props/de_inferno/hr_i/inferno_bike/inferno_bike_color.vmat
!/models/props/de_inferno/hr_i/inferno_curtain_closed
/models/props/de_inferno/hr_i/inferno_curtain_closed/*
!/models/props/de_inferno/hr_i/inferno_curtain_closed/inferno_curtain_closed_on_color.vmat
!/models/props/de_inferno/hr_i/inferno_door_bell
/models/props/de_inferno/hr_i/inferno_door_bell/*
!/models/props/de_inferno/hr_i/inferno_door_bell/inferno_door_bell_color.vmat
!/models/props/de_inferno/hr_i/inferno_drinking_fountain
/models/props/de_inferno/hr_i/inferno_drinking_fountain/*
!/models/props/de_inferno/hr_i/inferno_drinking_fountain/inferno_drinking_fountain_color.vmat
!/models/props/de_inferno/hr_i/inferno_gardening_tools
/models/props/de_inferno/hr_i/inferno_gardening_tools/*
!/models/props/de_inferno/hr_i/inferno_gardening_tools/inferno_gardening_tools_color.vmat
!/models/props/de_inferno/hr_i/inferno_intercom
/models/props/de_inferno/hr_i/inferno_intercom/*
!/models/props/de_inferno/hr_i/inferno_intercom/inferno_intercom_color.vmat
!/models/props/de_inferno/hr_i/inferno_metal_railing_cap
/models/props/de_inferno/hr_i/inferno_metal_railing_cap/*
!/models/props/de_inferno/hr_i/inferno_metal_railing_cap/inferno_metal_railing_cap_color.vmat
!/models/props/de_inferno/hr_i/inferno_phone_pole
/models/props/de_inferno/hr_i/inferno_phone_pole/*
!/models/props/de_inferno/hr_i/inferno_phone_pole/inferno_phone_pole_color.vmat
!/models/props/de_inferno/hr_i/inferno_trashbin
/models/props/de_inferno/hr_i/inferno_trashbin/*
!/models/props/de_inferno/hr_i/inferno_trashbin/inferno_trashbin_color.vmat
!/models/props/de_inferno/hr_i/inferno_vespa
/models/props/de_inferno/hr_i/inferno_vespa/*
!/models/props/de_inferno/hr_i/inferno_vespa/inferno_vespa_color.vmat
!/models/props/de_inferno/hr_i/inferno_window_guard
/models/props/de_inferno/hr_i/inferno_window_guard/*
!/models/props/de_inferno/hr_i/inferno_window_guard/inferno_window_guard_color.vmat
!/models/props/de_inferno/hr_i/ivy_a
/models/props/de_inferno/hr_i/ivy_a/*
!/models/props/de_inferno/hr_i/ivy_a/ivy_a.vmat
!/models/props/de_inferno/hr_i/large_gate_a
/models/props/de_inferno/hr_i/large_gate_a/*
!/models/props/de_inferno/hr_i/large_gate_a/large_gate_02_color.vmat
!/models/props/de_inferno/hr_i/mail_box_a
/models/props/de_inferno/hr_i/mail_box_a/*
!/models/props/de_inferno/hr_i/mail_box_a/mail_box_a.vmat
!/models/props/de_inferno/hr_i/ornate_lamp
/models/props/de_inferno/hr_i/ornate_lamp/*
!/models/props/de_inferno/hr_i/ornate_lamp/ornate_lamp.vmat
!/models/props/de_inferno/hr_i/roll_up_door
/models/props/de_inferno/hr_i/roll_up_door/*
!/models/props/de_inferno/hr_i/roll_up_door/roll_up_door_02_color.vmat
!/models/props/de_inferno/hr_i/tile_cap_a
/models/props/de_inferno/hr_i/tile_cap_a/*
!/models/props/de_inferno/hr_i/tile_cap_a/tile_set_a.vmat
!/models/props/de_inferno/hr_i/wall_brick
/models/props/de_inferno/hr_i/wall_brick/*
!/models/props/de_inferno/hr_i/wall_brick/brick_a.vmat
!/models/props/de_inferno/hr_i/wall_brick/brick_d1.vmat
!/models/props/de_inferno/hr_i/weapon_crate_a
/models/props/de_inferno/hr_i/weapon_crate_a/*
!/models/props/de_inferno/hr_i/weapon_crate_a/weapon_crate_a.vmat
!/models/props/de_inferno/hr_i/window_a_trim
/models/props/de_inferno/hr_i/window_a_trim/*
!/models/props/de_inferno/hr_i/window_a_trim/brick_d1.vmat
!/models/props/de_inferno/hr_i/window_b
/models/props/de_inferno/hr_i/window_b/*
!/models/props/de_inferno/hr_i/window_b/window_b.vmat
!/models/props/de_inferno/hr_i/window_collection
/models/props/de_inferno/hr_i/window_collection/*
!/models/props/de_inferno/hr_i/window_collection/window_c
/models/props/de_inferno/hr_i/window_collection/window_c/*
!/models/props/de_inferno/hr_i/window_collection/window_c/window_collection.vmat
!/models/props/de_inferno/hr_i/wood_pile_a
/models/props/de_inferno/hr_i/wood_pile_a/*
!/models/props/de_inferno/hr_i/wood_pile_a/hr_wood_d.vmat
!/models/props/de_nuke
/models/props/de_nuke/*
!/models/props/de_nuke/hr_nuke
/models/props/de_nuke/hr_nuke/*
!/models/props/de_nuke/hr_nuke/foliage
/models/props/de_nuke/hr_nuke/foliage/*
!/models/props/de_nuke/hr_nuke/foliage/barberry_01.vmat
!/models/props/dust_massive
/models/props/dust_massive/*
!/models/props/dust_massive/debris
/models/props/dust_massive/debris/*
!/models/props/dust_massive/debris/dust_debris.vmat
!/models/props_foliage
/models/props_foliage/*
!/models/props_foliage/urban_trees_branches03.vmat
!/models/weapons
/models/weapons/*
!/models/weapons/v_models
/models/weapons/v_models/*
!/models/weapons/v_models/arms
/models/weapons/v_models/arms/*
!/models/weapons/v_models/arms/bare
/models/weapons/v_models/arms/bare/*
!/models/weapons/v_models/arms/bare/bare_arm_103.vmat
!/models/weapons/v_models/arms/bare/bare_arm_133.vmat
!/models/weapons/v_models/arms/bare/bare_arm_pro_varf.vmat
!/models/weapons/v_models/arms/glove_fingerless
/models/weapons/v_models/arms/glove_fingerless/*
!/models/weapons/v_models/arms/glove_fingerless/glove_fingerless.vmat
!/models/weapons/v_models/c4
/models/weapons/v_models/c4/*
!/models/weapons/v_models/c4/c4_compass_arrow.vmat
!/models/weapons/v_models/eq_molotov_new
/models/weapons/v_models/eq_molotov_new/*
!/models/weapons/v_models/eq_molotov_new/v_eq_molotov_bottle.vmat
!/models/weapons/v_models/knife_bayonet
/models/weapons/v_models/knife_bayonet/*
!/models/weapons/v_models/knife_bayonet/knife_bayonet.vmat
!/models/weapons/v_models/knife_ursus
/models/weapons/v_models/knife_ursus/*
!/models/weapons/v_models/knife_ursus/knife_ursus.vmat
!/models/weapons/v_models/rif_ak47
/models/weapons/v_models/rif_ak47/*
!/models/weapons/v_models/rif_ak47/ak47.vmat
!/models/weapons/v_models/snip_awp
/models/weapons/v_models/snip_awp/*
!/models/weapons/v_models/snip_awp/awp.vmat
!/models/weapons/w_models
/models/weapons/w_models/*
!/models/weapons/w_models/arms
/models/weapons/w_models/arms/*
!/models/weapons/w_models/arms/w_ct_fbi_glove.vmat
!/plaster
/plaster/*
!/plaster/hr_p
/plaster/hr_p/*
!/plaster/hr_p/plaster_a.vmat
!/plaster/hr_p/inferno
/plaster/hr_p/inferno/*
!/plaster/hr_p/inferno/plaster_a.vmat
!/plaster/hr_p/inferno/plaster_a_blend.vmat
!/plaster/hr_p/inferno/plaster_a_blend_02.vmat
!/plaster/hr_p/inferno/plaster_b.vmat
!/plaster/hr_p/inferno/plaster_b_blend.vmat
!/plaster/hr_p/inferno/plaster_d_blend.vmat
!/plaster/hr_p/inferno/plaster_e.vmat
!/plaster/hr_p/inferno/plaster_e_blend.vmat
!/plaster/hr_p/inferno/plaster_e_blend_02.vmat
!/plaster/hr_p/inferno/plaster_g.vmat
!/plaster/hr_p/inferno/plaster_g_blend.vmat
!/plaster/hr_p/inferno/plaster_g_blend_02.vmat
!/plaster/hr_p/inferno/plaster_i.vmat
!/plaster/hr_p/inferno/plaster_i_blend.vmat
!/plaster/hr_p/venice
/plaster/hr_p/venice/*
!/plaster/hr_p/venice/venice_plaster_blend_1_red.vmat
!/tile
/tile/*
!/tile/inferno_tiles_red_01.vmat
!/tile/hr_t
/tile/hr_t/*
!/tile/hr_t/inferno
/tile/hr_t/inferno/*
!/tile/hr_t/inferno/roofing_tile_a.vmat
!/tile/hr_t/inferno/roofing_tile_b.vmat
!/tile/hr_t/inferno/tile_c.vmat
!/tile/hr_t/inferno/tile_c_nospec.vmat
!/tile/hr_t/inferno/trim_set_b.vmat

