*.vmat
*.tga
*.pfm
*.txt
*.json
*.vtex
*.vpost
*.zip
*.7z
!.how to.txt
!custom_resources.txt
!ar_dizzy/dizzy_drywall_back_color.vmat
!brick/hr_brick/inferno/brick_a.vmat
!brick/hr_brick/inferno/brick_d.vmat
!brick/hr_brick/inferno/brick_d1.vmat
!brick/hr_brick/inferno/brick_d_blend.vmat
!brick/hr_brick/inferno/brick_f.vmat
!brick/hr_brick/inferno/brick_f1.vmat
!brick/hr_brick/inferno/brick_g1.vmat
!brick/hr_brick/inferno/brick_g1_blend.vmat
!brick/hr_brick/inferno/brick_i_blend2.vmat
!brick/hr_brick/inferno/flagstone_d_blend.vmat
!cobblestone/hr_c/inferno/cobblestone_a_blend3.vmat
!cobblestone/hr_c/inferno/cobblestone_b_blend.vmat
!decals/inferno_drain_decal.vmat
!de_aztec/hr_aztec/hr_aztec_blend_groundgrass02-groundrock01.vmat
!de_aztec/hr_aztec/hr_aztec_light_candle_core.vmat
!glass/glass01.vmat
!glass/glass01_inferno.vmat
!liquids/inferno_fountain.vmat
!metal/hr_metal/hr_metal_shutters_01.vmat
!metal/hr_metal/inferno/metal_ground_trim_a.vmat
!models/player/ct_sas/ctm_sas_lenses.vmat
!models/player/custom_player/econ/body/ctm_sas/ctm_sas_body.vmat
!models/player/custom_player/econ/body/ctm_sas/ctm_sas_bodylegs.vmat
!models/player/custom_player/econ/head/ctm_sas/ctm_sas_head_gasmask.vmat
!models/props/de_aztec/hr_aztec/aztec_lighting/aztec_lighting_candle_flame_01.vmat
!models/props/de_inferno/monument_new_color.vmat
!models/props/de_inferno/tileroof01.vmat
!models/props/de_inferno/hr_i/anchor_plate/anchor_plate.vmat
!models/props/de_inferno/hr_i/anchor_plate/anchor_plate_b.vmat
!models/props/de_inferno/hr_i/arch_b/arch_b/brick_d1.vmat
!models/props/de_inferno/hr_i/arch_c/brick_d1.vmat
!models/props/de_inferno/hr_i/barrel_a/barrel_a.vmat
!models/props/de_inferno/hr_i/barrel_a/barrel_metal_a.vmat
!models/props/de_inferno/hr_i/barrel_b/barrel_b.vmat
!models/props/de_inferno/hr_i/bench/bench.vmat
!models/props/de_inferno/hr_i/car_a/car_a.vmat
!models/props/de_inferno/hr_i/car_a/car_a_details.vmat
!models/props/de_inferno/hr_i/car_a/glass.vmat
!models/props/de_inferno/hr_i/chimney/plaster_h.vmat
!models/props/de_inferno/hr_i/chimney/roofing_tile_a.vmat
!models/props/de_inferno/hr_i/concrete_bags/concrete_bags.vmat
!models/props/de_inferno/hr_i/concrete_bags/concrete_stack_a/concrete_bags.vmat
!models/props/de_inferno/hr_i/curb_set_b/concrete_b.vmat
!models/props/de_inferno/hr_i/cypress_a/cypress_a.vmat
!models/props/de_inferno/hr_i/destruction_a/brick_g.vmat
!models/props/de_inferno/hr_i/door_collection/door_a/metal_a.vmat
!models/props/de_inferno/hr_i/door_collection/door_b/metal_a.vmat
!models/props/de_inferno/hr_i/door_collection/door_c/metal_a.vmat
!models/props/de_inferno/hr_i/door_collection/door_collection_trim_a/door_trim_a.vmat
!models/props/de_inferno/hr_i/door_collection/door_collection_trim_b/door_trim_b.vmat
!models/props/de_inferno/hr_i/door_collection/door_d/metal_a.vmat
!models/props/de_inferno/hr_i/electric_box_a/electric_box_a.vmat
!models/props/de_inferno/hr_i/electric_wires/electric_box_a.vmat
!models/props/de_inferno/hr_i/flower_sets/flower_sets_a.vmat
!models/props/de_inferno/hr_i/flower_sets/flower_sets_a_leafs.vmat
!models/props/de_inferno/hr_i/fountain_a_basin/brick_d1.vmat
!models/props/de_inferno/hr_i/ground_tile_a/herringbone_b.vmat
!models/props/de_inferno/hr_i/gutters/gutters.vmat
!models/props/de_inferno/hr_i/gutters/gutters_b.vmat
!models/props/de_inferno/hr_i/inferno_apc/inferno_apc_color.vmat
!models/props/de_inferno/hr_i/inferno_balcony/inferno_balcony_color.vmat
!models/props/de_inferno/hr_i/inferno_bike/inferno_bike_color.vmat
!models/props/de_inferno/hr_i/inferno_curtain_closed/inferno_curtain_closed_on_color.vmat
!models/props/de_inferno/hr_i/inferno_door_bell/inferno_door_bell_color.vmat
!models/props/de_inferno/hr_i/inferno_drinking_fountain/inferno_drinking_fountain_color.vmat
!models/props/de_inferno/hr_i/inferno_gardening_tools/inferno_gardening_tools_color.vmat
!models/props/de_inferno/hr_i/inferno_intercom/inferno_intercom_color.vmat
!models/props/de_inferno/hr_i/inferno_metal_railing_cap/inferno_metal_railing_cap_color.vmat
!models/props/de_inferno/hr_i/inferno_phone_pole/inferno_phone_pole_color.vmat
!models/props/de_inferno/hr_i/inferno_trashbin/inferno_trashbin_color.vmat
!models/props/de_inferno/hr_i/inferno_vespa/inferno_vespa_color.vmat
!models/props/de_inferno/hr_i/inferno_water_heater/inferno_water_heater_color.vmat
!models/props/de_inferno/hr_i/inferno_window_guard/inferno_window_guard_color.vmat
!models/props/de_inferno/hr_i/ivy_a/ivy_a.vmat
!models/props/de_inferno/hr_i/large_gate_a/large_gate_02_color.vmat
!models/props/de_inferno/hr_i/mail_box_a/mail_box_a.vmat
!models/props/de_inferno/hr_i/ornate_lamp/ornate_lamp.vmat
!models/props/de_inferno/hr_i/roll_up_door/roll_up_door_02_color.vmat
!models/props/de_inferno/hr_i/tile_cap_a/tile_set_a.vmat
!models/props/de_inferno/hr_i/wall_brick/brick_a.vmat
!models/props/de_inferno/hr_i/wall_brick/brick_d1.vmat
!models/props/de_inferno/hr_i/weapon_crate_a/weapon_crate_a.vmat
!models/props/de_inferno/hr_i/window_a_trim/brick_d1.vmat
!models/props/de_inferno/hr_i/window_b/window_b.vmat
!models/props/de_inferno/hr_i/window_collection/window_c/window_collection.vmat
!models/props/de_inferno/hr_i/wood_pile_a/hr_wood_d.vmat
!models/props/de_nuke/hr_nuke/foliage/barberry_01.vmat
!models/props/de_nuke/hr_nuke/nuke_skydome_001/nuke_clouds_001.vmat
!models/props/de_nuke/hr_nuke/nuke_skydome_001/nuke_clouds_002.vmat
!models/props/de_nuke/hr_nuke/nuke_skydome_001/nuke_skydome_001.vmat
!models/props/dust_massive/debris/dust_debris.vmat
!models/props_foliage/urban_trees_branches03.vmat
!models/weapons/v_models/arms/bare/bare_arm_103.vmat
!models/weapons/v_models/arms/bare/bare_arm_133.vmat
!models/weapons/v_models/arms/bare/bare_arm_pro_varf.vmat
!models/weapons/v_models/arms/glove_fingerless/glove_fingerless.vmat
!models/weapons/v_models/c4/c4_compass_arrow.vmat
!models/weapons/v_models/eq_molotov_new/v_eq_molotov_bottle.vmat
!models/weapons/v_models/knife_bayonet/knife_bayonet.vmat
!models/weapons/v_models/knife_ursus/knife_ursus.vmat
!models/weapons/v_models/rif_ak47/ak47.vmat
!models/weapons/v_models/snip_awp/awp.vmat
!models/weapons/w_models/arms/w_ct_fbi_glove.vmat
!overlays/csmenuscreen.vmat
!plaster/hr_p/plaster_a.vmat
!plaster/hr_p/inferno/plaster_a.vmat
!plaster/hr_p/inferno/plaster_a_blend.vmat
!plaster/hr_p/inferno/plaster_a_blend_02.vmat
!plaster/hr_p/inferno/plaster_b.vmat
!plaster/hr_p/inferno/plaster_b_blend.vmat
!plaster/hr_p/inferno/plaster_d_blend.vmat
!plaster/hr_p/inferno/plaster_e.vmat
!plaster/hr_p/inferno/plaster_e_blend.vmat
!plaster/hr_p/inferno/plaster_e_blend_02.vmat
!plaster/hr_p/inferno/plaster_g.vmat
!plaster/hr_p/inferno/plaster_g_blend.vmat
!plaster/hr_p/inferno/plaster_g_blend_02.vmat
!plaster/hr_p/inferno/plaster_i.vmat
!plaster/hr_p/inferno/plaster_i_blend.vmat
!plaster/hr_p/venice/venice_plaster_blend_1_red.vmat
!tile/inferno_tiles_red_01.vmat
!tile/hr_t/inferno/roofing_tile_a.vmat
!tile/hr_t/inferno/roofing_tile_b.vmat
!tile/hr_t/inferno/tile_c.vmat
!tile/hr_t/inferno/tile_c_nospec.vmat
!tile/hr_t/inferno/trim_set_b.vmat
!brick/hr_brick/inferno/brick_f.txt
!brick/hr_brick/inferno/brick_f1.txt
!brick/hr_brick/inferno/brick_f_normals.txt
!brick/hr_brick/inferno/brick_g1.txt
!brick/hr_brick/inferno/brick_i_normals.txt
!cobblestone/hr_c/inferno/cobblestone_a_normals.txt
!cobblestone/hr_c/inferno/cobblestone_b.txt
!concrete/hr_c/inferno/concrete_b.txt
!metal/hr_metal/hr_metal_shutters_01_normal_a-1_rough.txt
!metal/hr_metal/inferno/metal_a.txt
!metal/hr_metal/inferno/metal_a_a-1_rough.txt
!metal/hr_metal/inferno/metal_ground_trim_a_normals_a-1_rough.txt
!models/hostage/v_hostage_arm/v_hostage_arm_skin_normal_a-1_rough.txt
!models/player/custom_player/econ/body/ctm_sas/ctm_sas_body_normal.txt
!models/player/custom_player/econ/body/ctm_sas/ctm_sas_legs_color.txt
!models/props/de_inferno/monument_new_normal_a-1_rough.txt
!models/props/de_inferno/hr_i/anchor_plate/anchor_plate_a-1_rough.txt
!models/props/de_inferno/hr_i/anchor_plate/anchor_plate_b_a-1_rough.txt
!models/props/de_inferno/hr_i/arch_b/arch_ao.txt
!models/props/de_inferno/hr_i/barrel_b/barrel_b_a_mask.txt
!models/props/de_inferno/hr_i/barrel_b/barrel_b_normals_a-1_rough.txt
!models/props/de_inferno/hr_i/car_a/glass_a-1_rough.txt
!models/props/de_inferno/hr_i/concrete_bags/concrete_bags.txt
!models/props/de_inferno/hr_i/concrete_bags/concrete_bags_ao.txt
!models/props/de_inferno/hr_i/curb_set_b/curb_set_b_ao.txt
!models/props/de_inferno/hr_i/door_a/door_a_env_l-1_rough.txt
!models/props/de_inferno/hr_i/door_collection/door_d_ao.txt
!models/props/de_inferno/hr_i/door_collection/door_collection_trim_b/door_trim_b_ao.txt
!models/props/de_inferno/hr_i/gutters/gutters_b_a-1_rough.txt
!models/props/de_inferno/hr_i/gutters/gutters_b_ao.txt
!models/props/de_inferno/hr_i/inferno_apc/inferno_apc_mask_l-1_rough.txt
!models/props/de_inferno/hr_i/inferno_bike/inferno_bike_mask_l-1_rough.txt
!models/props/de_inferno/hr_i/inferno_curtain_closed/inferno_curtain_closed_illum.txt
!models/props/de_inferno/hr_i/inferno_curtain_closed/inferno_curtain_closed_on_color.txt
!models/props/de_inferno/hr_i/inferno_door_bell/inferno_door_bell_color.txt
!models/props/de_inferno/hr_i/inferno_door_bell/inferno_door_bell_mask_l-1_rough.txt
!models/props/de_inferno/hr_i/inferno_intercom/inferno_intercom_normal_a-1_rough.txt
!models/props/de_inferno/hr_i/inferno_metal_railing_cap/inferno_metal_railing_cap_color.txt
!models/props/de_inferno/hr_i/inferno_metal_railing_cap/inferno_metal_railing_cap_color_l-1_rough.txt
!models/props/de_inferno/hr_i/inferno_phone_pole/inferno_phone_pole_mask_l-1_rough.txt
!models/props/de_inferno/hr_i/inferno_vespa/inferno_vespa_normal_a-1_rough.txt
!models/props/de_inferno/hr_i/inferno_water_heater/inferno_water_heater_normal_a-1_rough.txt
!models/props/de_inferno/hr_i/mail_box_a/mail_box_a_normals_a-1_rough.txt
!models/props/de_inferno/hr_i/roll_up_door/metal_a-1_rough.txt
!models/props/de_inferno/hr_i/roll_up_door/roll_up_door_02_color.txt
!models/props/de_inferno/hr_i/weapon_crate_a/weapon_crate_a_normals_a-1_rough.txt
!models/props/de_inferno/hr_i/window_collection/window_c/window_c_ao.txt
!models/props/de_inferno/hr_i/wood_pile_a/wood_shell_ao.txt
!models/props/de_nuke/hr_nuke/nuke_skydome_001/nuke_skydome_001.txt
!models/props_windows/window_uban_apt_glass_ref_l-1_rough.txt
!models/weapons/customization/materials/marble_fade.txt
!models/weapons/customization/paints/custom/workshop/ak47_mastery.txt
!models/weapons/shared/scope/scope.txt
!models/weapons/v_models/arms/t_arms_professional.txt
!models/weapons/v_models/arms/t_base_fingerless_glove_normal_a-1_rough.txt
!models/weapons/v_models/arms/v_model_base_arms_color_a-1_rough.txt
!models/weapons/v_models/arms/bare/bare_arm_133.txt
!models/weapons/v_models/eq_molotov/v_eq_molotov_bottle_normal-a_rough.txt
!models/weapons/v_models/eq_molotov/v_eq_molotov_lighter_ref_l-1_rough.txt
!models/weapons/v_models/knife_ursus/knife_ursus_a_rough.txt
!models/weapons/v_models/snip_awp/awp.txt
!models/weapons/w_models/w_eq_molotov/w_eq_molotov_bottle_normal_a-1_rough.txt
!nature/hr_c/hr_dirt_001_color.txt
!tile/inferno_tiles_red_01_normal_a-1_rough.txt
!tile/tileroof003a_normal_a-1_rough.txt
!tile/hr_t/inferno/herringbone_b_normals_a-1_rough.txt
!tile/hr_t/inferno/trim_set_b_normals_a-1_rough.txt
!models/props/de_inferno/hr_i/cypress_a/bark_a.vmat
!models/props_foliage/urban_trees_barks01.vmat
!models/props_foliage/urban_trees_barks01_medium.vmat
!models/props_foliage/urban_trees_branches03_medium.vmat
!models/props/de_inferno/hr_i/barrel_a/barrel_a.txt
!models/props/de_inferno/hr_i/cypress_a/cypress_a.txt
!models/props/de_inferno/hr_i/cypress_a/cypress_a_env.txt
!models/props/de_inferno/hr_i/cypress_a/cypress_a_env_l-1_rough.txt
!models/props_foliage/urban_trees_barks01.txt
